---
// Footer. Styling staat in home.css.
---
<footer>
  <div class="row">
    <div class="crest">Café Brakke<span>.</span></div>
    <div class="footer-col">
      <h3>Adres</h3>
      <p>Rozengracht 16<br>1016 NB Amsterdam</p>
    </div>
    <div class="footer-col">
      <h3>Contact</h3>
      <p>
        <a href="tel:+31203201657">020 320 1657</a><br>
        <a href="mailto:hallo@cafebrakke.nl">hallo@cafebrakke.nl</a>
      </p>
    </div>
    <div class="footer-col">
      <h3>Open</h3>
      <p>Ma t/m Do, Zo · 09:00&nbsp;tot&nbsp;01:00<br>Vr en Za · 09:00&nbsp;tot&nbsp;03:00</p>
    </div>
  </div>
  <div class="colofon">
    <div>© Café Brakke · Bruin café aan de Rozengracht 16 in de Jordaan</div>
    <div>Algemene voorwaarden · Privacy · Cookies</div>
  </div>
</footer>
